<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    
    <servlet>
        <servlet-name>dash</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>dash</servlet-name>
        <url-pattern>/dash</url-pattern>
    </servlet-mapping>
    
    
    <servlet>
        <servlet-name>signup</servlet-name>
        <jsp-file>/signup.jsp</jsp-file>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>signup</servlet-name>
        <url-pattern>/signup</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>movs</servlet-name>
        <jsp-file>/common/rmovs.jsp</jsp-file>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>movs</servlet-name>
        <url-pattern>/movs</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>assets</servlet-name>
        <jsp-file>/common/rassets.jsp</jsp-file>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>assets</servlet-name>
        <url-pattern>/assets</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>admins</servlet-name>
        <jsp-file>/common/radmins.jsp</jsp-file>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>admins</servlet-name>
        <url-pattern>/admins</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>clients</servlet-name>
        <jsp-file>/common/rclients.jsp</jsp-file>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>clients</servlet-name>
        <url-pattern>/clients</url-pattern>
    </servlet-mapping>
    
    <servlet>
        <servlet-name>h</servlet-name>
        <jsp-file>/index.jsp</jsp-file>
    </servlet>
	
    <servlet-mapping>
        <servlet-name>h</servlet-name>
        <url-pattern>/h</url-pattern>
    </servlet-mapping>
        
    <servlet>
        <servlet-name>CompanyS</servlet-name>
        <servlet-class>Controller.CompanyS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SectorS</servlet-name>
        <servlet-class>Controller.SectorS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StoreS</servlet-name>
        <servlet-class>Controller.StoreS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Login</servlet-name>
        <servlet-class>Controller.Login</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminS</servlet-name>
        <servlet-class>Controller.AdminS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_dataS</servlet-name>
        <servlet-class>Controller.Admin_dataS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Admin_role_storeS</servlet-name>
        <servlet-class>Controller.Admin_role_storeS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AssetS</servlet-name>
        <servlet-class>Controller.AssetS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Asset_dataS</servlet-name>
        <servlet-class>Controller.Asset_dataS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Asset_storeS</servlet-name>
        <servlet-class>Controller.Asset_storeS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClientS</servlet-name>
        <servlet-class>Controller.ClientS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Client_dataS</servlet-name>
        <servlet-class>Controller.Client_dataS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Data_typeS</servlet-name>
        <servlet-class>Controller.Data_typeS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dynamic_assetS</servlet-name>
        <servlet-class>Controller.Dynamic_assetS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dynamic_clientS</servlet-name>
        <servlet-class>Controller.Dynamic_clientS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Dynamic_adminS</servlet-name>
        <servlet-class>Controller.Dynamic_adminS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LendS</servlet-name>
        <servlet-class>Controller.LendS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Lend_itemsS</servlet-name>
        <servlet-class>Controller.Lend_itemsS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Permission_adminS</servlet-name>
        <servlet-class>Controller.Permission_adminS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Permission_clientS</servlet-name>
        <servlet-class>Controller.Permission_clientS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Role_adminS</servlet-name>
        <servlet-class>Controller.Role_adminS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Role_clientS</servlet-name>
        <servlet-class>Controller.Role_clientS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_adminS</servlet-name>
        <servlet-class>Controller.Service_adminS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Service_clientS</servlet-name>
        <servlet-class>Controller.Service_clientS</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>State_assetS</servlet-name>
        <servlet-class>Controller.State_assetS</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CompanyS</servlet-name>
        <url-pattern>/CompanyS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SectorS</servlet-name>
        <url-pattern>/SectorS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StoreS</servlet-name>
        <url-pattern>/StoreS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Login</servlet-name>
        <url-pattern>/Login</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminS</servlet-name>
        <url-pattern>/AdminS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_dataS</servlet-name>
        <url-pattern>/Admin_dataS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Admin_role_storeS</servlet-name>
        <url-pattern>/Admin_role_storeS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AssetS</servlet-name>
        <url-pattern>/AssetS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Asset_dataS</servlet-name>
        <url-pattern>/Asset_dataS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Asset_storeS</servlet-name>
        <url-pattern>/Asset_storeS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClientS</servlet-name>
        <url-pattern>/ClientS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Client_dataS</servlet-name>
        <url-pattern>/Client_dataS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Data_typeS</servlet-name>
        <url-pattern>/Data_typeS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dynamic_assetS</servlet-name>
        <url-pattern>/Dynamic_assetS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dynamic_clientS</servlet-name>
        <url-pattern>/Dynamic_clientS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Dynamic_adminS</servlet-name>
        <url-pattern>/Dynamic_adminS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LendS</servlet-name>
        <url-pattern>/LendS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Lend_itemsS</servlet-name>
        <url-pattern>/Lend_itemsS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permission_adminS</servlet-name>
        <url-pattern>/Permission_adminS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Permission_clientS</servlet-name>
        <url-pattern>/Permission_clientS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Role_adminS</servlet-name>
        <url-pattern>/Role_adminS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Role_clientS</servlet-name>
        <url-pattern>/Role_clientS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_adminS</servlet-name>
        <url-pattern>/Service_adminS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Service_clientS</servlet-name>
        <url-pattern>/Service_clientS</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>State_assetS</servlet-name>
        <url-pattern>/State_assetS</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
